version: "3.9"
services:
  php:
    image: markoshust/magento-php:8.4-fpm-0
    volumes:
      - .:/var/www/html
    environment:
      COMPOSER_AUTH: >
        {"http-basic":{"repo.magento.com":{"username":"${MAGENTO_PUBLIC_KEY}","password":"${MAGENTO_PRIVATE_KEY}"}}}
    #command: bash -c "composer install; echo __composer_instalado!__"
    labels:
      - "traefik.enable=true"
      #- "traefik.http.routers.magento.rule=Host(`${MAGENTO_HOST}`)"
      #- "traefik.http.services.magento.loadbalancer.server.port=9000"

  mariadb:
    image: mariadb:11.4
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  opensearch:
    image: markoshust/magento-opensearch:2.12-0
    environment:
      - discovery.type=single-node
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"

volumes:
  db_data:
